{% extends 'base.html.twig' %}

{% block title %}Edit this user{% endblock %}

{% block body %}
    <h1>Update user</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.password) }}

    <button type="submit" class="btn">Save</button>
    {{ form_end(registrationForm) }}
{% endblock %}
