body {
    margin: 0;
    background-image: url('../imgs/amine-apple-morocco.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.admin-avatar-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
}

.profile-edit-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
